{% extends "base/base.html" %}

{% block content %}
<div class="container mx-auto px-1 py-1 max-w-screen-">
    <h1 class="text-4xl font-bold text-center mb-6 text-gray-800 dark:text-gray-100">{{header}}</h1>
    
    {% block backurl %}
    {% include "base/backbutton.html" %}
    <meta id="backurl" data-name="{% url "board" %}">
    {% endblock backurl %}

    {% include "base/message.html" %}
    <section class="bg-gray-50 border border-gray-200 dark:bg-gray-900 p-2 rounded-lg shadow-lg">
        <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">{{header}}</h2>
            <form method="post">
                {% csrf_token %}
                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                    <div class="sm:col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                        <input type="text" name="name" id="name" {% if form.name.value %} value="{{form.name.value}}"{% endif %} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type board name" required>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Project</label>
                        <select name="project" id="id_project" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option value="#">---------------------</option>
                            {% for project in project_list %}
                            <option value="{{project.id}}" {% if form.project.value == project.id %}selected{% endif %} >{{project.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    Save
                </button>
            </form>
        </div>
    </section>
</div>
{% endblock content %}
