{% extends "base/base.html" %}

{% block content %}

<div class="container mx-auto px-4 py-6 max-w-screen-xl">
    <h1 class="text-5xl font-bold text-center mb-8 text-gray-900 dark:text-gray-100">Board Overview</h1>
    {% include "base/message.html" %}
    <section class="bg-gray-100 border border-gray-300 dark:bg-gray-900 p-6 rounded-lg shadow-lg">
        <div class="flex flex-wrap justify-end mb-4 space-y-2 sm:space-y-0 sm:space-x-4">
            <a href="{% url "add_board" %}" class="w-full sm:w-auto py-3 px-4 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-200 focus:ring-offset-2 transition ease-in-out duration-150">
                Create New Board
            </a>
        </div>
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-x-auto">
            <table class="min-w-full text-sm text-left text-gray-600 dark:text-gray-300">
                <thead class="text-xs uppercase bg-gray-800 text-gray-200 dark:bg-gray-700 dark:text-gray-300">
                    <tr>
                        <th scope="col" class="px-6 py-4">Name</th>
                        <th scope="col" class="px-6 py-4">Board</th>
                        <th scope="col" class="px-6 py-4">Columns</th>
                        <th scope="col" class="px-6 py-4">Created By</th>
                        <th scope="col" class="px-6 py-4">Created At</th>
                        <th scope="col" class="px-6 py-4">Actions</th>
                    </tr>
                </thead>
                <tbody class="bg-white dark:bg-gray-800">
                    {% for board in board_list %}
                    <tr class="border-b dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700 transition">
                        <td class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                           {{ board.name }}
                        </td>
                        <td class="px-6 py-4">
                            <a href="{% url "kanban_board" board.id %}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-200 dark:focus:ring-green-900 transition ease-in-out duration-150">
                                View
                            </a>
                        </td>
                        <td class="px-6 py-4">
                            <a href="{% url "column" board.id %}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-yellow-600 rounded-lg hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-200 dark:focus:ring-yellow-900 transition ease-in-out duration-150">
                                View
                            </a>
                        </td>
                        <td class="px-6 py-4">{{ board.created_by.username }}</td>
                        <td class="px-6 py-4">{{ board.created_at|date }}</td>
                        <td class="px-6 py-4 flex space-x-2">
                            <a href="{% url "edit_board" board.id %}" class="text-white bg-blue-600 hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600 rounded-lg px-3 py-2 transition ease-in-out duration-150">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <button type="button" data-modal-target="deleteModal" data-modal-toggle="deleteModal" class="text-white bg-red-600 hover:bg-red-700 dark:bg-red-500 dark:hover:bg-red-600 rounded-lg px-3 py-2 transition ease-in-out duration-150">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>

<!-- Main modal -->

{% endblock content %}
