{% extends "base/base.html" %}

{% block content %}

<div class="mx-auto max-w-screen overflow-hidden">
  <h1 class="text-4xl font-bold text-center mb-2 text-gray-800 dark:text-gray-100">Calendar</h1>
  {% include "base/message.html" %}

  <section class="bg-gray-50 border border-gray-200 dark:bg-gray-900 p-2 rounded-lg shadow-lg">
    <div class="mx-auto mt-10 border-b p-2">
    <div class="wrapper bg-white rounded shadow w-full overflow-x-auto">
      <div class="flex justify-center  p-4 text-center bg-gray-500 shadow-md text-white text-xl font-extrabold">
        <form action="{% url "change_month" current_date %}" method="post">
          {% csrf_token %}
          <input type="number" name="previous" id="id_previous" hidden value="1">
        <button type="submit" class="inline-block bg-white text-black p-1 rounded-lg shadow-md">
          <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
          </svg>
        </button>
      </form>
        <div class="inline-block mx-10">
          {{current_date|date:"M Y"}}
        </div>
        <form action="{% url "change_month" current_date %}" method="post">
          {% csrf_token %}
          <input type="number" name="next" id="id_next" hidden value="1">
        <button href="#" class="inline-block bg-white text-black p-1 rounded-lg shadow-md">
          <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
          </svg>
        </button>
      </form>
        
      </div>
      <table class="w-full">
        <thead>
          <tr>
           
            <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
              <span class="xl:block lg:block md:block sm:block hidden">Monday</span>
              <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Mon</span>
            </th>
            <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
              <span class="xl:block lg:block md:block sm:block hidden">Tuesday</span>
              <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Tue</span>
            </th>
            <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
              <span class="xl:block lg:block md:block sm:block hidden">Wednesday</span>
              <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Wed</span>
            </th>
            <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
              <span class="xl:block lg:block md:block sm:block hidden">Thursday</span>
              <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Thu</span>
            </th>
            <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
              <span class="xl:block lg:block md:block sm:block hidden">Friday</span>
              <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Fri</span>
            </th>
            <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
              <span class="xl:block lg:block md:block sm:block hidden">Saturday</span>
              <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Sat</span>
            </th>
            <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
              <span class="xl:block lg:block md:block sm:block hidden">Sunday</span>
              <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Sun</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for week in calender %}
          <tr class="text-center h-20">
            {% for date in week %}
            {% if date.month == month %}
              <td class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-blue-300 ">
                <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
                  <div class="top h-5 w-full">
                    <span class="text-gray-500">{{date.day}}</span>
                  </div>
                  <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer">
                    <div
                      class="event bg-purple-400 text-white rounded p-1 text-sm mb-1"
                    >
                      <span class="event-name">
                        Meeting
                      </span>
                      <span class="time">
                        12:00~14:00
                      </span>
                    </div>
                    <div
                      class="event bg-purple-400 text-white rounded p-1 text-sm mb-1"
                    >
                      <span class="event-name">
                        Meeting
                      </span>
                      <span class="time">
                        18:00~20:00
                      </span>
                    </div>
                  </div>
                </div>
              </td>
            {% else %}
            <td class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition duration-500 ease hover:bg-gray-300 bg-gray-300">
              <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
                <div class="top h-5 w-full">
                  <span class="text-gray-500">{{date.day}}</span>
                </div>
                <div class="bottom flex-grow h-30 py-1 w-full ">
                  
                </div>
              </div>
            </td>
            {% endif %}
            {% endfor %}
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  </section>
</div>

{% endblock content %}
