<!-- Modal HTML -->
<div id="AddtasksModal{{ colums.id }}" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 z-50 flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-7xl h-auto sm:h-[80vh] overflow-y-auto">
        <h2 class="text-2xl font-bold mb-4 text-center">Task</h2>
        <div class="w-full flex justify-center">
        
            <div class="w-full max-w-5xl">
                <h2 class="mb-4 text-md font-bold text-gray-900 dark:text-white">Add Task</h2>
                <form action="{% url 'kanban_add_task' colums.id %}" method="post">
                    {% csrf_token %}
                    <div class="grid gap-4 sm:grid-cols-2">
                        <div class="sm:col-span-2">
                            <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                            <input type="text" name="title" id="id_title" {% if form.title.value %} value="{{form.title.value}}"{% endif %} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Task Title" required>
                        </div>

                        <div class="sm:col-span-2">
                            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                            <textarea id="id_description" name="description" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here">{% if form.description.value %}{{form.description.value}}{% endif %}</textarea>
                        </div>

                        <div class="sm:col-span-2">
                            <label for="user" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Assign To</label>
                            <select name="user" id="id_user" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                <option value="#">---------------------</option>
                                {% for user in users %}
                                <option value="{{user.id}}">{{user.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 text-sm font-medium text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                        Add
                    </button>
                </form>
            </div>
        </div>
        <div class="mt-4 text-right">
            <button class="px-4 py-2 text-sm font-medium rounded-lg bg-red-500 text-white" onclick="closeAddTaskModal('{{ colums.id }}')">Close</button>
        </div>
    </div>
</div>
