{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
<style>
  .draggable {
    transition: transform 0.2s ease-in-out;
  }
  .draggable.dragging {
    transform: scale(1.05);
    opacity: 0.8;
  }
  /* Optional: Add custom scrollbar styling */
  .scrollbar-custom::-webkit-scrollbar {
    height: 8px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>
{% endblock extra_css %}

{% block content %}
<div class="container mx-auto px-1 py-1 max-w-screen-xl">
  <h1 class="text-3xl font-bold text-center mb-3 text-gray-800">{{ board.project.name }} Kanban Board</h1>
  
  {% block backurl %}
  {% include "base/backbutton.html" %}
  <meta id="backurl" data-name="{% url "board" %}">
  {% endblock backurl %}
  
  <div class="bg-gradient-to-tr from-white to-gray-200 p-2 dark:bg-gray-800 rounded-lg shadow-md overflow-hidden">

    {% include "base/message.html" %}

    <!-- Flex container for horizontal scrolling -->
    <div class="overflow-x-auto scrollbar-custom">
      <div class="flex space-x-3">

        {% for colums in board_columns %}
          <div class="bg-white rounded-lg shadow-lg p-2 max-w-[300px] w-[500px] flex-shrink-0" data-columsid="{{ colums.id }}">
            <div class="text-sm font-semibold mb-1 text-center bg-{{ colums.color }}-500 text-white p-3 rounded-lg">
              <h2>{{ colums.name }}</h2>
              <span class="text-xs">Total Tasks: {{ colums.tasks.count }}</span>
            </div>
            
            <button class="bg-{{ colums.color }}-500 bottom-0 text-white p-2 mb-4 rounded-lg w-full draggable" onclick="openAddTaskModal('{{ colums.id }}')">+ Add Task</button>

            {% include "project_mgmt/kanban_add_task.html" %}

            <div class="bg-gray-100 p-2 rounded-lg shadow-md min-h-[300px] column-content">
              {% for task in colums.tasks.all %}
                <div data-taskid="{{ task.id }}" class="bg-white p-4 mb-4 rounded-lg shadow-lg draggable border border-gray-200" draggable="true">
                  <!-- Task Title -->
                  <div class="flex justify-between items-center mb-1 text-xs">
                    <div class="badge badge-info py-1 rounded-pill">
                      <strong>Task:</strong> {{ task.title }}
                    </div>
                  </div>

                  
                  <div class="mb-1 text-xs">
                    {% if task.description|length > 30 %}
                      <p class="text-muted">{{ task.description|striptags|slice:":30" }}...</p>
                    {% else %}
                      <p class="text-muted">{{ task.description }}</p>
                    {% endif %}
                  </div>

                  <!-- Task Details -->
                  <div class="mb-1 text-sm">
                    <div class="d-flex justify-content-between">
                      <div>
                        <small class="text-muted">
                          <i class="fas fa-user"></i> Assigned to: <strong>{{ task.user.username }}</strong>
                        </small>
                      </div>
                      <div>
                        <small class="text-muted">
                          <i class="fas fa-calendar-plus"></i> Created by: <strong>{{ task.created_by.username }}</strong>
                        </small>
                      </div>
                    </div>
                  </div>

                  {% include "project_mgmt/view_task.html" %}
                  <!-- Action Buttons -->
                  <div class="flex justify-start mt-2">
                    <a href="#" onclick="openTaskDetailsModal('{{ task.id }}')" class="btn btn-primary mx-1 p-1.5 text-xs font-medium rounded-lg bg-blue-500 text-white">
                      <i class="fas fa-eye"></i> View
                    </a>
                    <a href="#" class="btn btn-primary mx-1 p-1.5 text-xs font-medium rounded-lg bg-yellow-500 text-white">
                      <i class="fas fa-pen"></i> Edit
                    </a>
                    <form id="deleteForm" method="post" class="">
                      {% csrf_token %}
                      <button type="button" onclick="get_action('{% url "delete_task" task.id %}')" id="deleteButton" data-modal-target="deleteModal" data-modal-toggle="deleteModal" class="btn btn-primary mx-1 p-1.5 text-xs font-medium rounded-lg bg-red-500 text-white">
                          <i class="fas fa-trash"></i> Delete
                      </button>
                  </form>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Form to handle task updates -->
<form id="update-task-form" method="post" action="{% url 'update_task' %}">
  {% csrf_token %}
  <input type="hidden" name="task_id" id="task-id">
  <input type="hidden" name="new_column_id" id="new-column-id">
  <input type="hidden" name="new_order" id="new-order">
</form>


<script src="{% static 'js/kanban.js' %}"></script>
{% endblock content %}
