     <!-- Modal for Viewing Task Details -->
     <div id="taskDetailsModal{{task.id}}" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 z-50 flex items-center justify-center">
        <div class="bg-white rounded-lg shadow-lg p-6 max-w-7xl w-full">
          <h2 class="text-2xl font-bold mb-4 text-center">Task Details</h2>
          <div id="modalTaskContent">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <div class="badge badge-info text-xl py-2 rounded-pill">
                  <strong>Task:</strong> {{ task.title }}
              </div>
            </div>
             <!-- Task Description -->
            <strong>Description:</strong>
            <div class="mb-3">
              <p class="text-muted">{{ task.description}}</p>
            </div>

            <!-- Task Details -->
          <div class="mb-2">
            <div class="d-flex my-2 justify-content-between">
                <div>
                    <small class="text-muted">
                        <i class="fas fa-user"></i> Assigned to: <strong>{{ task.user.username }}</strong>
                    </small>
                </div>
               
            </div>
            <div class="d-flex justify-content-between">
              
                <div>
                    <small class="text-muted">
                        <i class="fas fa-clock"></i> Created at: <strong>{{ task.created_at|date:"Y-m-d h:i A" }}</strong>
                    </small>
                </div>
                <div>
                    <small class="text-muted">
                        <i class="fas fa-clock"></i> Updated at: <strong>{{ task.updated_at|date:"Y-m-d h:i A" }}</strong>
                    </small>
                </div>
                <div>
                  <small class="text-muted">
                      <i class="fas fa-calendar-plus"></i> Created by: <strong>{{ task.created_by.username }}</strong>
                  </small>
              </div>
              <div>
                <small class="text-muted">
                    <i class="fas fa-calendar-plus"></i> Created by: <strong>{{ task.updated_by.username }}</strong>
                </small>
            </div>
            </div>
        </div>

            
          </div>
          <div class="text-right">
            <button class="btn btn-secondary px-4 py-2 text-sm font-medium rounded-lg bg-red-500 text-white" onclick="closeTaskDetailsModal({{task.id}})">Close</button>
          </div>
        </div>
      </div>