<!-- templates/index.html -->

{% extends "base/base.html" %}

{% block content %}

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
    <div class="bg-gradient-to-r from-blue-400 to-blue-500 text-white rounded-lg p-6 shadow-lg flex flex-col justify-center items-center transform transition hover:scale-105">
        <h3 class="text-xl font-medium mb-1">Total Users</h3>
        <p class="text-3xl font-extrabold">1,234</p>
    </div>
    <div class="bg-gradient-to-r from-blue-400 to-blue-500 text-white rounded-lg p-6 shadow-lg flex flex-col justify-center items-center transform transition hover:scale-105">
        <h3 class="text-xl font-medium mb-1">Total Usage</h3>
        <p class="text-3xl font-extrabold">567 GB</p>
    </div>
    <div class="bg-gradient-to-r from-blue-400 to-blue-500 text-white rounded-lg p-6 shadow-lg flex flex-col justify-center items-center transform transition hover:scale-105">
        <h3 class="text-xl font-medium mb-1">Active Sessions</h3>
        <p class="text-3xl font-extrabold">89</p>
    </div>
    <div class="bg-gradient-to-r from-blue-400 to-blue-500 text-white rounded-lg p-6 shadow-lg flex flex-col justify-center items-center transform transition hover:scale-105">
        <h3 class="text-xl font-medium mb-1">New Signups</h3>
        <p class="text-3xl font-extrabold">45</p>
    </div>
</div>

{% endblock content %}
